/* New CSS class to force navbar background to black */
.navbar-black {
    background-color: #000 !important;
}

/* New CSS class to force footer background to black */
.footer-black {
    background-color: #000 !important;
}

.fw-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Styles for the scroll-up button */
.scroll-up-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: 2px solid white; /* White stroke */
    border-radius: 7px; /* 7px border radius */
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

.scroll-up-btn:hover {
    background-color: #333; /* Darker background color on hover */
}


